
.thumbnail {
    width:8em;
    margin-top:1em;
    height:auto;
    background-color: black;
    margin-left:1em;
}


.scrollContainer {
    display:flex;
    flex-wrap: wrap;
    margin-top:0.5em;
    margin-left:1em;
    overflow-y:auto;
    overflow-x:hidden;
}