

.scrollContainer {
    display:flex;
    flex-wrap:wrap;
    
    margin-top:1em;
    margin-left:1em;
    margin-right:1em;
    justify-content: center;
}

.thumbImg {
    width: 157px;
    height:242px;
}

.thumbTitle {
    width:154px;
    height:30px;
    border:3px solid black;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 120);
    color:white;
}

.thumbTitle p {
    margin-top: 3px;
    margin-left:1px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.thumbnailCard {
    margin-top:1em;
    margin-left:1em;
    border:1px solid black;
    border-width:1px;
    background-color: rgba(0, 0, 0, 120);
    
}

.thumbnailCard:hover img{
    opacity:40%;
}

.thumbnailCard:hover .thumbTitle {
    width:157px;
    border:3px solid #76b900;
    font-size: 12px;
    background-color: #76b900;
    color:white;
}


.thumbOverlay {
    background-color: white;
    color:red;
    opacity: 0;
    
}