
.formContainer {
    display:flex;
    margin-top:3em;
    flex-direction: column;
        
    
}

.formContainer h1 {
    text-align: center;
    font-size: 19px;
    color: #76b900;
    margin-bottom:1em;
}

.addForm {

    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}

.addForm Button {
    margin-left:1em;
}

.bookDetail {
    margin-bottom: 0.5em;
    margin-top:0.5em;
}

#addDetailButton {
    margin-left: 0em;
}

#coverPath {
    display:none;
}

img[src=""] {
    display:none;
}