
.navStyle {
    background-color: #191919;
    box-shadow: 0px 2px 3px 1px rgb(0, 0, 0);
}

.navBox {
    overflow-x: auto;
    overflow-y:hidden;
}

.navLink {
    border:1px solid black;
    border-top:none;
    border-bottom:none;
}

